@inherits System.Web.Mvc.WebViewPage

@{
    View.Title = "Change Password";
    LayoutPage = "~/Views/Shared/_Layout.cshtml";
}

<h2>Change Password</h2>
<p>
    Your password has been changed successfully.
</p>
