_ReSharper.**.suo
*.ReSharper
*.user
Build/
bin/
obj/
Samples/*/App_Data/*

/Samples/Commons.Sample.Web.NerdDinner
*.suo
**.svn**
packages/
lib/Sitecore/
_ReSharper.BoC/
UpgradeLog.*
*.nupkg
