<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MongoDB" connectionString="mongodb://localhost/ToDoSample"/>
    <add name="conn.nhibernate" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|todosample.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
    <add name="conn.db4o" connectionString="C:\temp\db4o.yap" />
    <!-- |DataDirectory| -->
  </connectionStrings>
  <appSettings>
    <add key="BoC.Persistence.Orm" value="db4o"/>
    <add key="BoC.IoC.ResolverTypeName" value="BoC.InversionOfControl.Unity.UnityDependencyResolver, Commons.InversionOfControl.Unity"/>
  </appSettings>
</configuration>