<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BoC.Glass.Mapper" version="1.0.0" targetFramework="net45" />
  <package id="BoC.Glass.Mapper.Sc" version="1.0.0" targetFramework="net45" />
  <package id="BoC.Glass.Mapper.Sc.CastleWindsor" version="1.0.0" targetFramework="net45" />
  <package id="BoC.Glass.Mapper.Sc.ContentSearch" version="1.0.0" targetFramework="net45" />
  <package id="BoC.Glass.Mapper.Sc.ContentSearch.LuceneProvider" version="1.0.0" targetFramework="net45" />
  <package id="Castle.Core" version="3.2.0" targetFramework="net45" />
  <package id="Castle.Windsor" version="3.2.0" targetFramework="net45" />
  <package id="Lucene.Net" version="3.0.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.1.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.1.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.1.2" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net45" />
  <package id="WebActivatorEx" version="2.0" targetFramework="net45" />
</packages>