<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">

  <system.web>


    <customErrors mode="Off"/>
    <authorization>
      <allow roles="User" />
      <allow roles="admin" />
      <deny users="*" />
    </authorization>
  </system.web>

</configuration>