<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<components>

    <!-- services-->
    <component
			id="services.profileservice"
			service="Diggero.Services.IProfileService, Diggero"
			type="Diggero.Services.DefaultProfileService, Diggero" />

    <!-- dao's-->
    <component
			id="dao.profile"
			service="Diggero.Dao.IProfileDao, Diggero"
			type="Diggero.Dao.NHibernateDao.ProfileDao, Diggero" />

    <component
			id="dao.profilesite"
			service="Diggero.Dao.IProfileSiteDao, Diggero"
			type="Diggero.Dao.NHibernateDao.ProfileSiteDao, Diggero" />

  </components>

</configuration>
