<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <include uri="file://settings.config" />
  
	<facilities>
		<!-- Automatic transaction management for our services. Whooa! -->
		<facility id="transaction"
			type="Castle.Facilities.AutomaticTransactionManagement.TransactionFacility, Castle.Facilities.AutomaticTransactionManagement" />

    <facility id="logging" 
      type="Castle.Facilities.Logging.LoggingFacility, Castle.Facilities.Logging" 
      configFile="config/log4net.config" 
			loggingApi="Log4net" 
		/>

    <facility id="nhibernate" 
      customStore="Steeg.Framework.CastleExt.Facilities.NHibernateIntegration.AutoSessionStore, Steeg.Framework" 
      type="Castle.Facilities.NHibernateIntegration.NHibernateFacility, Castle.Facilities.NHibernateIntegration"
    >
      <factory id="nhibernate.factory">
        <settings>
          <add key="hibernate.dialect" value="NHibernate.Dialect.MySQLDialect" />
          <add key="hibernate.connection.driver_class" value="NHibernate.Driver.MySqlDataDriver" />
          <add key="hibernate.connection.provider" value="NHibernate.Connection.DriverConnectionProvider" />
          <add key="hibernate.connection.connection_string" value="#{connectionString}" />
        </settings>
        <resources>
          <resource name="config/hbm/digable.hbm.xml" />
          <resource name="config/hbm/profilesite.hbm.xml" />
          <resource name="config/hbm/comment.hbm.xml" />
        </resources>
        <assemblies>
          <add>Steeg.Framework</add>
        </assemblies>
      </factory>
    </facility>

  </facilities>

  <components>

    <!-- Services -->
    <component
			id="services.userservice"
			service="Steeg.Framework.Security.IUserService, Steeg.Framework"
			type="Steeg.Framework.Security.DefaultUserService, Steeg.Framework" />

    <!-- Daos -->
    <component
			id="dao.user"
			service="Steeg.Framework.Security.Dao.IUserDao, Steeg.Framework"
			type="Steeg.Framework.Security.Dao.NHibernateDao.UserDao, Steeg.Framework" />

  </components>

  <include uri="file://site.config" />
</configuration>
