/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
body
{
    background-color: White;
    font-size: .75em;
    font-family: Tahoma, Arial, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #696969;
}
a:link, a:visited
{
    color: #718ABE;
    text-decoration:none;
}
a:hover
{
    color: #000099;
    text-decoration: underline !important;
}
p, ul
{
    margin-bottom: 20px;
    line-height: 1.6em;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6
{
    color: #000;
    margin: 0;
    padding: 0;
}
h1
{
    font-size: 2em;
}
h2
{
    font-size: 1.5em;
}
h3
{
    font-size: 1.2em;
}
h4
{
    font-size: 1.1em;
}
h5, h6
{
    font-size: 1em;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

#header
{
    background-color: #5c87b2;
    margin: 0;
    color: #000;
    padding: 0.5em 1em;
}
#logo
{
    padding: 10px 0;
    margin: 0;
    color: #FFF;
    border: none;
}
#sitename
{
    color: White;
    text-decoration: none;
    font-size: 32px !important;
    font-weight: bold;
}
#sitelink a
{
    color: White;
}
#main
{
    padding: 1em 2em;
    background-color: White;
    _height: 1px; /* only IE6 applies CSS properties starting with an underscrore */
}

.scaffold-actions input
{
    background-color: Transparent;
    border: none 0px;
    color: #718ABE;
    text-decoration:none;
    cursor: pointer;
    font-size: 1em;
}
.scaffold-actions input:hover
{
    color: #000099;
    text-decoration: underline;
}
/* Dynamic Data */

.dyndata form
{
    display: inline;
}
.dyndata .text-box, .dyndata select
{
    background-color: White;
    font-family: Tahoma, Arial, Sans-Serif;
    font-size: 1.0em;
}
.dyndata textarea.text-box
{
    overflow-y: scroll;
}
.dyndata .validation-summary-errors, .dyndata .field-validation-error
{
    color: Red;
    font-weight: bold;
}
.dyndata .input-validation-error
{
    border: 1px solid red;
}
.dyndata .text-box.field-required
{
    background-color: #ffc !important;
}
.dyndata table.table-view
{
    border-collapse: collapse;
}
.dyndata .table-view td,
.dyndata .table-view th
{
    margin: 0;
    padding: 0.7em;
}
.dyndata .table-view
{
    font-size: 0.9em;
}
.dyndata .list-view a
{
    margin-right: 0.4em;
}
.dyndata .list-view .pager a
{
    margin-right: 0;
}
.dyndata .table-view th
{
    background-image: url('DynamicData/header.gif');
    background-repeat: repeat-x repeat-y;
    text-align: left;
}
.dyndata .details-view th,
.dyndata .details-view td,
.dyndata .list-view th,
.dyndata .list-view td
{
    border: solid 1px #ccf;
}
.dyndata .edit-view div
{
    margin-top: 0.5em;
}
.dyndata .list-view .pager
{
    background-image: url('DynamicData/header.gif');
    background-repeat: repeat;
    vertical-align: bottom;
}